*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
    height: 50px;
    background-color:rgb(230, 145, 16);
}
#cabecera #buscador{
    justify-content: center;
    padding-left: 400px;
}
#cabecera #BotonBuscar{
    align-items: center;
    padding-right:10px ;
}
#cabecera #Login{
    justify-content: right;
    padding-right:50px;
}
#buscador{
    display: flex;
    align-items: center;
    
}
#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#vistamenu{
    display: flex;
    width: auto;
    height: 30px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
.nav-links{
    width: 180px;
    height: 380px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
