@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
@font-face {
    font-family: 'Oswald-Regular', sans-serif;
    src: url(../css/Fonts/Oswald-Regular.ttf)format(TrueType);
    font-weight: 400;
}
/* config para que todo el cuerpo use la fuente dispuesta abajo */
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: auto;
    background-image: url(../css/imagenes/LOGO.jpg);
    background-attachment: local;

}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(254, 106, 0,1);
}
#cabecera #buscador{
    justify-content: center;
    width: 600px;
}
#Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
    z-index: 1;

}
#BotonBuscar{
    align-items: center;
    z-index:2;
    padding: 9px 10px;
    position: relative;
    right: 69px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#buscador{
    display: flex;
    align-items: center;
}
#Login{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    padding-left: 3px;
    align-items:center;
    align-content: center;
}
#labelusuario{
    padding-right: 5px;
}
#Bingresar{
    margin-left: 3px;
    border: 0;
    padding: 10px 20px;
    font-size: medium;
    color: white;
    background: rgb(155, 63, 9);
    position: relative;
    box-shadow: 3px 3px rgb(97, 39, 6);
}
#buscador{
    display: flex;
    align-items: center;
}
#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#Vista1{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}

/* ----------inicio seccion del producto y los botones de navegacion-------- */
/* ---parte de los botones de navegacion---- */
#Lmenu{
    display: flex;
    width: 100%;
    align-content: space-between;
}
.nav-links{
    width: 180px;
    height: 400px;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    background-color: rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
}
/* ------------parte del producto seleccionado--------- */
#content-prcto-view{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 4% 7%;
    padding: 2em;
    border-radius: 10px;
    background-color:rgb(141, 141, 140) ;
}
#img-producto-reserva{
    display: contents;
    width: 320px;
    height: 250px;
    border-image-width: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: min-content;
    min-width: min-content;
    box-shadow: 0px 6px 13px 2px;
}
.IMAGEN-Producto{
    display: flex;
    border-radius: 10%;
    width: 35vw;
    height: 36vh;
}
#info-producto-reserva{
    list-style: none;
    width: 200px;
    padding:  2em 2em;
    align-items: center;
    justify-content: center;
}
.Ulproducto{
    list-style-type: none;
}
.Ulproducto li{
    width: 10em;
}
/* #info-producto-reserva p{} */
/* -----------seccion botones del producto mostrado.------- */
.Producto-comp-btons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    width: 10em;
    height: 5em;
    font-family:'Oswald';
    font-weight: 600;
}

#Vistaproducto{
    display: flex;
    width: 80%;
}
#piedepagina{
    margin-top: 50px;
    vertical-align: bottom;
    background-color: rgb(253, 101, 13);
}