@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
/* config para que todo el cuerpo use la fuente dispuesta abajo */
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: auto;
    background-image: url(../imagenes/LOGO.jpg);
    background-attachment: local;

}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(254, 106, 0,1);
}
#cabecera #buscador{
    justify-content: center;
    width: 600px;
}
#Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
    z-index: 1;

}
#BotonBuscar{
    align-items: center;
    z-index:2;
    padding: 9px 10px;
    position: relative;
    right: 69px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#buscador{
    display: flex;
    align-items: center;
}
#Login{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    padding-left: 3px;
    align-items:center;
    align-content: center;
}
#labelusuario{
    padding-right: 5px;
}
#Bingresar{
    margin-left: 3px;
    border: 0;
    padding: 10px 20px;
    font-size: medium;
    color: white;
    background: rgb(155, 63, 9);
    position: relative;
    box-shadow: 3px 3px rgb(97, 39, 6);
}
/* ----------inicio seccion del producto y los botones de navegacion-------- */
/* ---parte de los botones de navegacion---- */
#Lmenu{
    display: flex;
    width: 100%;
    align-content: space-between;
}
/* ------------parte del producto seleccionado--------- */
#Vistaproducto{
    display: block;
}
#Vistaproducto #producto{
    display: flex;
    align-content: space-around;

}
#buscador{
    display: flex;
    align-items: center;
    
}
#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#Vista1{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
.menulista #Bmododark{
    background-image: url(../extras/brillo-y-contraste.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-size: 30px 30px;
    background-position: center;
}
.nav-links{
    width: 180px;
    height: 400px;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    background-color: rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
}
#Vistaproducto{
    display: flex;
    width: 80%;
}
#Producto{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color:rgb(253, 101, 13);
    border-color:rgb(102, 99, 94);
    border-style:outset;
}
#Producto #lista-imagen-producto{
    border-right: 10px;
    padding-right: 10px;
    list-style: none;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5px;

}
#Producto #img-principal-producto{
    height: 90%;
    width: 30em;
    border-left: 3px;
    border-right: 3px;
    background-color: aliceblue;
}
#inf-prct-list{
    list-style: none;
}
#Producto #info-producto-compra{
    display: inline-table;
    height: 120px;
    width: 150px;
    margin-left: 1%;
    margin-right:3%;
    padding-left: 3%;
    padding-right: 3%;
    border-left: 10px;
    border-left-color:black;
    background-color: rgb(240, 251, 255);
}
#Producto #info-producto-comprar #Bton-Comprar{
    margin: 0%;
    border-top: 3px;
    background-color: aqua;
    height: 20px;
}
#piedepagina{
    margin-top: 50px;
    vertical-align: bottom;
    background-color: rgb(253, 101, 13);
}