@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../css/Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
/* config para que todo el cuerpo use la fuente dispuesta abajo */
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* -----------seccion cabecera----------------- */
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: optimizeQuality;
    background-image: url(../../css/imagenes/LOGO.jpg);
    background-attachment: local;
}
#cabecera{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(254, 106, 0,1);
}

#Login{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    padding-left: 3px;
    align-items:center;
    align-content: center;
}

#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#labelusuario{
    padding-right: 5px;
}
#Bingresar{
    margin-left: 3px;
    border: 0;
    padding: 10px 20px;
    font-size: medium;
    color: white;
    background: rgb(155, 63, 9);
    position: relative;
    box-shadow: 3px 3px rgb(97, 39, 6);
}
#vistamenu{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
/* ---------///////////////primera seccion\\\\\\\\\\\\\\\  */
#primera_seccion{
    display: flex;
    /* justify-content: space-evenly; */
    width: auto;
    height: auto;
    align-items: flex-start;
}
.formulariosADM{
    background-color: rgb(226, 223, 223);
    border-radius: 10px;
    padding: 1em;
}
.form-lis{
    list-style: none;
}
.form-label{
    font-family:'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 3px;
    font-size: large;
}
.form-input{
    width: 20em;
    height: 2em;
    border-radius: 10px;
    padding-bottom: 3px;
    padding-left: 2px;
}
/* --------div menu de navegacion lateral---------- */
#Lmenu{
    flex-grow: 0.02;
    
}
.nav-links{
    width: 180px;
    height: auto;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    font-family:'Oswald', sans-serif;
    font-weight: 300;
    background-color:rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
    position: relative;
}
.LBTON:hover{
    background-color: white;
    transform: translate(0px,-3px);
}
/* -------- seccion controlador productos-------- */
#controlador-productos{
    flex-grow: 1;
    margin-top: 5px;
    margin-left: 5px;
    display: grid;
    height: 40em;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "mod search";
    align-items: center;
    justify-content: center;
}
#controlador-productos h1{
    grid-area: titulo;
}
#contenedor-prcto-search{
    grid-area: search;
}
#editar-producto{
    grid-area: mod;
}
/* -----------contenedor editar-producto */
#editar-producto{
    flex-grow: 2;
    display: flex;
    /* margin-top: 2em; */
    height: 30em;
    width: 15em;
    align-items: center;
    justify-content:center;
    align-content: center;
    padding: 1em;
    background-color: #fe6a00;
    box-shadow: 1px 5px 12px 9px rgb(218, 91, 0);
    margin-left: 3px;
}
#layout-edit-producto{
    flex-grow: 2;
    display: flex;
    /* margin-top: 2em; */
    height: 30em;
    width: 15em;
    align-items: center;
    justify-content:center;
    align-content: center;
    padding: 1em;
    background-color: #fe6a00;
    box-shadow: 1px 5px 12px 9px rgb(218, 91, 0);
    margin-left: 3px;
}
/* ------------contenedor prcto search--------- */
#contenedor-prcto-search{
    /* display: flexbox; */
    height: 30em;
    background-color: #ff6a00;
    align-items: center;
    align-content: center;
    justify-content:center;
    padding: 1vh 2vw;
}
#contenedor-productos{
    overflow: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 20em;
    padding: 1%;
    background-color: #ebebeb;
    border-radius: 10px;
}

.th-productos{
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}
.tr-producto{
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.td-producto{
    width: 5em;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    /* display: table-cell; */
    border: 1px solid black;

}

/* --------------------/////////segunda seccion\\\\\\\\\\----------- */
#segunda_seccion{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 2em;
    align-items: flex-start;
}
/* -----------seccion publicidad--------- */
#layout-publicidad{
    flex-grow: 0.02;
    width: 180px;
}
/* -----------seccion controlador ofertas--------- */
#controlador-ofertas{
    flex-grow: 2;
    display: grid;
    display: grid;
    margin-top: 5px;
    margin-left: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "mod search";
    align-items: center;
    justify-content: center;
}
/* ----------layout titulo----- */
#layout-titulo{
    grid-area: titulo;
    align-items: center;
    justify-content: center;
}
/* ----------contenedor oferts-search-------- */
#contenedor-oferts-search{
    flex-grow: 1;
    grid-area: search;
    height: 40em;
    background-color: #fe6a00;
    align-items: center;
    justify-content: center;
}
/* ----------contenedor oferts-mod-------- */
#contenedor-oferts-mod{
    height: 40em;
    grid-area: mod;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding: 1em 2em;
    background-color: #fe6a00;
    margin-left: 3px;
}
/* --------/////SECCION FOOTER\\\\\\------------- */
footer{
    margin-top: 2em;
    padding-top: 10px;
    height: 10em;
    background-color: #fe6a00;
}