@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../css/Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
/* seccion cabecera */
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: auto;
    background-image: url(../css/imagenes/LOGO.jpg);
    background-attachment: local;
}
#cabecera{
    display: flex;
    height:100px;
    width: auto;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
    background-color:rgb(254,106,0)
}
#cabecera #buscador{
    justify-content: center;
    width: 600px;
}
#cabecera #Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
}
#cabecera #BotonBuscar{
    align-items: center;
    padding-right:10px ;
}

#buscador{
    display: flex;
    align-items: center;
}
#Clogo{
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    
}
#vistamenu{
    display: flex;
    width: auto;
    height: 30px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
/*-------------- fin seccion cabecera ---------------------*/
/* 1ra seccion de la paginalogin. */
#centro{
    display: flex;
    background-image: url(../css/imagenes/pexels-athena-2582932.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#login{
    display:inline-flex;
    width: 100%;
    height: 60em;
    align-content: center;
    flex-direction: column;
    
    
}
/* seccion de botones de redireccion. */
#Lmenu{
    display: flex;
    border-left: 10px;
}
.nav-links{
    list-style: none;
    width: 180px;
    height: fit-content;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    background-color:rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
    color:white;
}
.LBTON:hover{
    background-color:white;
    color: black;
    transform: translate(0px,-7px);
}
.LBTON:hover::after{
    transform: translate(0px, 4px);
}
.LBTON:hover::before{
    transform: translate(0px, 7px);
}
#centro #Lmenu li{
    justify-content: space-between;
    line-height: 3.5em;
}
/* fin seccion bton redireccion */
/* ----------------- seccion contenedor login --------------- */

/* seccion  user and pass  */

#contenedorLogin{
    display: flex;
    /* width: fit-content; */
    /* height: 200px; */
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 101, 13);
    border-radius: 10%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%;
    
}
#formulariologin{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 20em;
}
#Lista-form{
    list-style: none;
    align-items: center;
}
.form-label{
    width: 6em;
}
.form-input{
    width: 12em;
    height: 3em;
    border-radius: 10%;
    white-space: nowrap;
    font-size: medium;
}
/* seccion optionslogin */
.Formasconexion{
    display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    justify-content: center;
    align-content: center; 
}
.Formasconexion ul{
    display: flex;
    width: max-content;
    flex-direction: row;
    list-style: none; 
    line-height: 24px; 
}
.Formasconexion li{
    width: 100%;
    line-height: 3.5em;
    margin-left: 3%;
    margin-right: 3%;
    /* padding-left: 3%;
    padding-right: 3%;  */
    justify-content: center;
}
.FCBTON{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    margin-right: 3%;
    background-color:rgb(253, 101, 13);
    border-radius: 10%;
    transition:  transform 0.3s ease;
}
.FCBTON::after, .FCBTON::before{
    content:"";
    position: absolute;
    opacity: 0.3;
    background: rgb(252, 123, 49);
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:  transform 0.3s ease;
}
.FCBTON:hover{
    transform: translate(-12px, -12px);
}
.FCBTON:hover::after{
    transform: translate(-6px, -6px);
}
.FCBTON:hover::before{
    transform: translate(12px, 12px);
}

#centro .Formasconexion button{
    marker: none;
    height: 100px;
    width: 200px;
}


#piedepagina{
    display: flexbox;
    background-color:rgb(253, 101, 13)


}