@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../../Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* //////seccion cabecera ///////// */
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: auto;
    background-image: url(../../css/imagenes/LOGO.jpg);
    background-attachment: local;
}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(254, 106, 0,1);
}
#buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
#Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
    z-index: 1;
}
#BotonBuscar{
    align-items: center;
    z-index:2;
    padding: 9px 10px;
    position: relative;
    right: 69px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#Login{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    padding-left: 3px;
    align-items:center;
    align-content: center;
}
#vistamenu{
    display: flex;
    width: auto;
    height: 30px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
/* ////////// primera seccion de la pagina ////////// */
#registro{
    background-image: url(../../css/imagenes/tiendadifuminada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40em;
    width:auto;
}
#contenedorRegistro{
    display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 101, 13);
    border-radius: 10%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%;
}
#contenedorRegistro ul{
    padding: 10px 40px;
    list-style: none;
    width: 300px;
}
#formularioRegistro{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 20em;
}

#form-Reg-ul{
    list-style: none;
    align-items: center;
}
#formularioRegistro li{
    padding-bottom: 1em;
}
.form-label{
    width: 6em;
    
}
.form-input{
    width: 18em;
    height: 3em;
    border-radius: 15px;
    white-space: nowrap;
    font-size: medium;
}
.form-sub-bton{
    font-variant-position: normal;
    text-align: center;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: 'Oswald-Regular',sans-serif;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}
.bton{
    background:rgb(254, 106, 0,1);
    background: linear-gradient(0deg, rgb(180, 168, 160)) 0%,
    rgb(241, 160, 8)100%;
    line-height: 42px;
    padding: 0;
    border: none;
}
.bton span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.bton::before,
.bton::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(246, 247, 248);
    transition: all 0.3s ease;
}
.bton::before{
    height: 0%;
    width: 2px;
}
.bton::after{
    width: 0%;
    height: 2px;
}
.bton:hover{
    background: transparent;
    box-shadow: none;
}
.bton:hover::before{
    height: 100%;
}
.bton:hover::after{
    width: 100%;
}
.bton span:hover{
    color: rgb(255, 255, 255);
}
.bton span::before,
.bton span::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(247, 249, 250);
    transition: all 0.3s ease; 
}
.bton span::before{
    width: 2px;
    height: 0%;
}
.bton span::after{
    width: 0%;
    height: 2px;
}
.bton span:hover::before{
    height: 100%;
}
.bton span:hover::after{
    width: 100%;
}
/* ///////// segunda seccion de la pagina registro /////////*/
#piedepagina{
    display: flexbox;
    background-color:rgb(254, 106, 0,1);


}
/*                            _
                          .' `'.__
                         /      \ `'"-,
        .-''''--...__..-/ .     |      \
      .'               ; :'     '.  a   |
     /                 | :.       \     =\
    ;                   \':.      /  ,-.__;.-;`
   /|     .              '--._   /-.7`._..-;`
  ; |       '                |`-'      \  =|
  |/\        .   -' /     /  ;         |  =/
  (( ;.       ,_  .:|     | /     /\   | =|
   ) / `\     | `""`;     / |    | /   / =/
     | ::|    |      \    \ \    \ `--' =/
    /  '/\    /       )    |/     `-...-`
   /    | |  `\    /-'    /;
   \  ,,/ |    \   D    .'  \
jgs `""`   \  nnh  D_.-'L__nnh
            `"""` */