*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
    height: 50px;
    background-color:rgb(230, 145, 16);
}
#cabecera #buscador{
    justify-content: center;
    padding-left: 400px;
}
#cabecera #BotonBuscar{
    align-items: center;
    padding-right:10px ;
}
#cabecera #Login{
    justify-content: right;
    padding-right:50px;
}
#Lmenu{
    display: flex;
}
#buscador{
    display: flex;
    align-items: center;
    
}
#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#vistamenu{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}

.menulista #Bcarrito{
    background-image:url(../extras/carrito-icono.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-size: 30px 30px;
    background-position: center;
}
.menulista #Bmododark{
    background-image: url(../extras/brillo-y-contraste.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-size: 30px 30px;
    background-position: center;
}
.nav-links{
    width: 180px;
    height: 400px;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    background-color: chocolate;
    border-color: whitesmoke;
    align-content: space-around;
}
#piedepagina{
    background-color: rgb(230, 145, 16) ;
}