@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../css/Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
/* config para que todo el cuerpo use la fuente dispuesta abajo */
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* -----------//////////SECCION CABECERA\\\\\\\\--------------- */
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: optimizeQuality;
    background-image: url(../css/imagenes/LOGO.jpg);
    background-attachment: local;
}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(253, 101, 13);
}
#cabecera #buscador{
    justify-content: center;
    width: 600px;
}
#cabecera #Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
}
#cabecera #BotonBuscar{
    align-items: center;
    padding-right:10px ;
}
#cabecera #Login{
    justify-content: right;
    padding-right:50px;
}
/* ////////--------primera seccion de la pagina-------/////// */
#section1{
    margin-left: 5em;
    margin-right: 5em;
    display: grid;
    grid-template-columns: 230px 1fr;
}
/* ------seccion menu de navegacion---- */
#Lmenu{
    display: flex;
    margin-right: 10px;
    /* width: 100%; */
    align-content: space-between;
}
.nav-links{
    width: 180px;
    height:fit-content;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    font-family:'Oswald', sans-serif;
    font-weight: 300;
    background-color:rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
    position: relative;
}
.LBTON:hover{
    background-color: white;
    transform: translate(0px,-3px);
}
/* ------fin seccion menu de navegacion---- */

/* -------seccion filtro de buscador------ */
.filtros_busqueda{
    padding-top: 1em;
    width: fit-content;
    grid-column: 1/2;
}
/* ------- FIN seccion filtro de buscador------ */

/* //////////// segunda seccion de la pagina//////*/
#Producto{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 10px;
    border-radius: 15px;
    padding: 50px;
    background-color:rgb(230, 145, 16);
    border-color:rgb(102, 99, 94);
    border-style:outset;
}
#buscador{
    display: flex;
    align-items: center;
}
#Login{
    display: flex;
    align-items:center;
    justify-content: right;

}
#vistamenu{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}

/* ///////////---------seccion menu de navegacion----------///// */

/* ------seccion aviso busqueda no encontrada. */

.avisoMaloBusqueda{
    display: flex;
    width: 300px;
    height: 200px;
    color: black;
}

#piedepagina{
    margin-top: 50px;
    vertical-align: bottom;
    background-color: rgb(230, 145, 16) ;
}