@font-face{
    font-family: 'Oswald', sans-serif;
    src: url(../css/Fonts/Oswald-Bold.ttf)format(TrueType);
    font-weight: 600;
}
/* config para que todo el cuerpo use la fuente dispuesta abajo */
body{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#Logo-tienda{
    width: 200px;
    height: 80px;
    image-rendering: optimizeQuality;
    background-image: url(../css/imagenes/LOGO.jpg);
    background-attachment: local;
}
#cabecera{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(254, 106, 0,1);
}
#cabecera #buscador{
    justify-content: center;
    width: 600px;
}
#Barrabusqueda{
    width: 40em;
    height: 3em;
    border-radius: 15px;
    z-index: 1;

}
#BotonBuscar{
    align-items: center;
    z-index:2;
    padding: 9px 10px;
    position: relative;
    right: 69px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#buscador{
    display: flex;
    align-items: center;
}
#Login{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    padding-left: 3px;
    align-items:center;
    align-content: center;
}
#labelusuario{
    padding-right: 5px;
}
#Bingresar{
    margin-left: 3px;
    border: 0;
    padding: 10px 20px;
    font-size: medium;
    color: white;
    background: rgb(155, 63, 9);
    position: relative;
    box-shadow: 3px 3px rgb(97, 39, 6);
}

.boton3D{
    transition: transform 0.3s ease;
}
.boton3D::after, .boton3D::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: rgb(151, 99, 69);
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.boton3D:hover{
    transform: translate(-3px, -3px);
}
.boton3D:hover::after{
    transform: translate(-2px,-2px);
}
.boton3D:hover::before{
    transform: translate(3px,3px);
}
#vistamenu{
    display: flex;
    width: auto;
    height: 40px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
/* ---------------inicio primera seccion--------------------*/
/* parte del menu lateral */
.nav-links{
    width: 200px;
    height:fit-content;
    padding-top:10px;
    padding-left:30px;
    padding-right:15px;
    padding-bottom: 10px;
    line-height: 3em;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(45, 44, 44);
}
.LBTON{
    width: 130px;
    height: 30px;
    font-family:'Oswald', sans-serif;
    font-weight: 300;
    background-color:rgb(253, 101, 13);
    border-color: whitesmoke;
    border-radius: 15px;
    align-content: space-around;
    position: relative;
}
.LBTON:hover{
    background-color: white;
    transform: translate(0px,-3px);
}
#Lmenu{
    display: flex;
    width: 100%;
    align-content: space-between;
}
/* seccion de los productos dentro del carrito */
.Producto{
    display: inline-table;
    height: auto;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    /* border: 10px; */
    max-width: 315px;
    border-radius: 10%;
    background-color:rgb(231, 92, 11);
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: 5.s, color, .10s;
}
.Producto img{
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.Product-p{
    padding: 2px;
    margin: 2px;
}
.Producto h3{
    align-content: center;
    padding:4px 5px;
}

.Producto:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px,5px);
}
.prcto_btons{
    margin-left: 3%;
    width: 5em;
    height: 5em;
    background: rgb(187, 187, 187);
    background: linear-gradient(0deg, rgb(119, 119, 119)0%,
     rgb(255, 121, 12)100%);
     border: none;
}
.prcto_btons:hover{
    background: rgb(255, 136, 0);
    background: linear-gradient(0deg, rgb(214, 214, 214)0%,
    rgba(2,126,251,1)100%);
}
/* .prcto_btons{
} */
/* /////////////seccion footer///////////// */
footer{
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0;
}
#piedepagina{
    
    display: block;
    margin-top: 50px;
    padding: 2em 3em;
    width: 100%;
    height: fit-content;
   
    background-color:rgb(253, 101, 13);
}
