*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#Logo-tienda{
    width: 120px;
    image-rendering: auto;
    background-image: url(../imagenes/SINFFONDO.jpg);
    background-attachment: local;

}
#cabecera{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 90px;
    background-color:rgb(253, 101, 13);
}
#vistamenu{
    display: flex;
    width: auto;
    height: 30px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
.nav-links{
    width: 180px;
    height: 380px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}