*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#cabecera{
    display: flex;
    width: auto;
    padding: 0px;
    margin: 0;
    height: 50px;
    background-color:rgb(230, 145, 16);
}
#vistamenu{
    display: flex;
    width: auto;
    height: 30px;
    background-color: grey;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    box-shadow: 0px 5px 3px rgb(95, 95, 95);
}
.nav-links{
    width: 180px;
    height: 380px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(45, 44, 44);
}